name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - name: checkout code
      uses: actions/checkout@5

    - name: set up Node
      uses: actions/setup-node@3
      with:
        node-version: 16

    - name: install dependencies
      run: npm install

    - name: run test
      run: npm test